.nav-f{
    width:100%;
    font-size:0.12em;

}


.header{
    background-color:#d1d1d1;
    width:100%;
    min-width:10.8rem;
    line-height:0.4rem;
}

.logo .link{
    font-size:0.24rem;
    color:#e72955;
}