<!DOCTYPE html>
<html>
<head lang="en">
    <%=require('html-loader!./layout/header-head.html')%>
    <title><%= htmlWebpackPlugin.options.title%> -电商平台</title>
    <!--<link rel="shortcut icon" href="./myMarket.ico" />-->
</head>
<body>
<header>
    <%=require('html-loader!./layout/header-nav.html') %>
    <%=require('html-loader!./layout/header-input.html') %>
</header>
<div class="main">
    <div class="brandNav">
        <div class="container cont">
            <div class="nav-list">
                <a href="./index.html">首页</a>&nbsp > &nbsp<a href="" class="title"><%= htmlWebpackPlugin.options.title%></a>
            </div>
        </div>
    </div>
    <div class="container clearfix">
        <%=require('html-loader!./layout/user-aside.html') %>
        <div class="section">
            <div class="info-title"><%= htmlWebpackPlugin.options.title%></div>
            <div class="information">

            </div>
        </div>
    </div>
</div>



<%=  require('html-loader!./layout/footer.html')%>
</body>
</html>