<nav class="nav-f">
    <div class="header">
        <div class="header-top  clearfix">
            <div class="nav left">好的生活，就是不一样</div>
            <div class="nav right">

                <a class="shopcar" href="./cart.html"><i class="fa fa-shopping-cart"></i>&nbsp购物车(<span class="num">0</span>)</a>
                <a class="shopcate" href="./order-list.html">我的订单</a>
                <a class="nav-com" href="">企业采购</a>
                <a class="nav-pic"><i class="fa fa-download"></i>下载app
                    <div class="mymarket"></div>
                </a>
            </div>
        </div>
    </div>
</nav>
